@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
  font-family: "Roboto", sans-serif !important;
}

section {
  overflow-x: hidden !important;
}
i {
  margin-right: 7px;
  display: inline-block;
  width: 13px;
  height: 17px;
  border: none;
  border-radius: 50%;
  text-align: center;
  line-height: 13px;
  font-size: 13px;
  vertical-align: middle;
}

/* Ensure the dropdown menu is initially hidden */
.hover-dropdown .dropdown-menu {
  display: none;
}

.dropdown-toggle::after {
  display: none !important;
}

.hover-dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
}

.hover-dropdown2:hover .dropdown-men2 {
  display: block !important;
}

.dropdown-men2 li {
  border-right: 1px solid #ccc;
}
.dropdown-men2 li a {
  padding: 0px 12px;
}

.dropdown-item {
  color: gray !important;
  font-weight: 400 !important;
}

.sign_up:hover {
  color: #fff !important;
}

.container-navbar {
  box-shadow: 0px 0px 25px 0px rgb(43, 52, 59, 5%);
}

.tw-shadow-xl {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-item:focus,
.dropdown-item {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #247fe1 !important;
  color: white !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.housing::after {
  position: absolute;
  content: " ";
  display: block;
  bottom: -111px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1px;
  height: 117px;
  background: url("./assets/images/bar.svg");
}




/* Scrollbar Styling */
.tw-productOverflow::-webkit-scrollbar {
  width:2px !important;
  display: none !important;
}

.tw-productOverflow::-webkit-scrollbar-track {
  background-color: #ebebeb !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
}

.tw-productOverflow::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
  background: #061F48 !important; 
}





.housing::before {
  content: url("./assets/images/arrow-right.svg");
  flex: 0 0 23px;
  width: 23px;
  height: 23px;

  position: absolute;
  display: block;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.housing3::after {
  position: absolute;
  content: " ";
  display: block;
  bottom: -111px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1px;
  height: 117px;
  background: url("./assets/images/bar.svg");
}

.housing3::before {
  content: url("./assets/images/arrow-right.svg");
  flex: 0 0 23px;
  width: 23px;
  height: 23px;

  position: absolute;
  display: block;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.housing2::before {
  content: url("./assets/images/arrow-left.svg");
  flex: 0 0 23px;
    width: 23px;
    height: 23px;
    position: absolute;
    display: block;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-size: cover;
}

.housing2::after {
  position: absolute;
    content: "";
    display: block;
    bottom: -111px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 117px;
  background: url("./assets/images/bar.svg");
}



.housin4::before {
  content: url("./assets/images/arrow-right.svg");
  flex: 0 0 23px;
  width: 23px;
  height: 23px;

  position: absolute;
  display: block;
  top:60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h2{
   font-size:49px !important;
   font-weight: 500 !important;
}


@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.hover-div:hover .iconY {
  animation: rotate360 1s linear;
}

@media screen and (max-width: 991px) {
  .hover-dropdown:hover .dropdown-menu {
    display: block;
    position: unset !important;
    left: 0;
  }
}
